<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.paybyonline.ebiz">

    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true">
        <activity
            android:name=".Activity.DashBoardActivity"
            android:clearTaskOnLaunch="true"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/PboAppTheme" />
        <activity
            android:name="com.paybyonline.ebiz.Activity.ForgetPasswordActivity"
            android:label="@string/title_activity_forget_password"
            android:theme="@style/PboAppTheme" />
        <activity
            android:name="com.paybyonline.ebiz.Activity.UseRechargeCodeActivity"
            android:label="@string/title_activity_use_recharge_code"
            android:theme="@style/PboAppTheme" />
        <activity
            android:name="com.paybyonline.ebiz.Activity.CreateAccountActivity"
            android:label="@string/title_activity_create_account"
            android:theme="@style/PboAppTheme" />
        <activity
            android:name=".Activity.LoginActivity"
            android:label="@string/title_activity_login"
            android:theme="@style/PboAppTheme" />
        <activity
            android:name=".Activity.InitialLoadingActivity"
            android:label="@string/title_activity_initial_loading"
            android:theme="@style/PboAppTheme">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data
                    android:host="www.paybyonline.com"
                    android:path="/"
                    android:scheme="http"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.paybyonline.ebiz.Activity.WalletActivity"
            android:label="@string/title_activity_wallet"
            android:theme="@style/PboAppTheme" />
        <activity
            android:name="com.paybyonline.ebiz.Activity.SendMoney"
            android:label="@string/title_activity_send_money"
            android:theme="@style/PboAppTheme" />
        <activity
            android:name="com.paybyonline.ebiz.Activity.UserProfile"
            android:label="@string/title_activity_user_profile"
            android:theme="@style/PboAppTheme" />

        <service
            android:name="com.paypal.android.sdk.payments.PayPalService"
            android:exported="false" />

        <activity android:name="com.paypal.android.sdk.payments.PaymentActivity" />
        <activity android:name="com.paypal.android.sdk.payments.LoginActivity" />
        <activity android:name="com.paypal.android.sdk.payments.PaymentMethodActivity" />
        <activity android:name="com.paypal.android.sdk.payments.PaymentConfirmActivity" />
        <!--
        <activity android:name="com.paypal.android.sdk.payments.PayPalFuturePaymentActivity" />
        <activity android:name="com.paypal.android.sdk.payments.FuturePaymentConsentActivity" />
        <activity android:name="com.paypal.android.sdk.payments.FuturePaymentInfoActivity" />
        <activity android:name="com.paypal.android.sdk.payments.PayPalProfileSharingActivity" />
        <activity android:name="com.paypal.android.sdk.payments.ProfileSharingConsentActivity" />
        -->

        <!--<activity-->
            <!--android:name="io.card.payment.CardIOActivity"-->
            <!--android:configChanges="keyboardHidden|orientation" />-->
        <!--<activity android:name="io.card.payment.DataEntryActivity" />-->
        <activity
            android:name="com.paybyonline.ebiz.Activity.AfterRegistration"
            android:theme="@style/PboAppTheme" />
        <activity
            android:name="com.paybyonline.ebiz.Activity.ContactUs"

            android:theme="@style/PboAppTheme" />
        <activity
            android:name="com.paybyonline.ebiz.Activity.OnlineBankingActivity"
            android:label="@string/title_activity_online_banking"
            android:theme="@style/PboAppTheme" />
        <activity
            android:name="com.paybyonline.ebiz.Activity.GrowNetworkActivity"
            android:label="@string/title_activity_grow_network"
            android:theme="@style/PboAppTheme" />
        <activity
            android:name="com.paybyonline.ebiz.Activity.PboWebViewActivity"
            android:label="@string/title_activity_pbo_web_view"
            android:theme="@style/PboAppTheme" />
        <activity
            android:name="com.paybyonline.ebiz.Activity.TestSecondActivity"
            android:label="@string/title_activity_pbo_web_view"
            android:theme="@style/PboAppTheme" />

        <service android:name="inficare.net.sctlib.SCTService" />

        <activity android:name="inficare.net.sctlib.SCTPaymentActivity" />
        <activity android:name="inficare.net.sctlib.SCTnPay" />

        <meta-data android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id"/>

        <activity android:name="com.facebook.FacebookActivity"
            android:configChanges=
                "keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />

    </application>

</manifest>